*{
  box-sizing: border-box;
}

body, html, section, main, div, aside, p {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
  font-family: 'Roboto', sans-serif;

}

main {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image:url(assets/space.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: lighten;
}

.box-container {
  display:flex;
  flex-wrap: wrap;
  float:left;
  width: 60%;
  height: 100vh;
}

.image-container {
  display: flex;
  background-image: url(assets/chewie.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  float: right;
  position: relative;
  width: 40%;
  height: 100vh;
  align-items: center;
}

.arrow-button-container {
  position: absolute;
  top: 75%;
  height: 50px;
  width: 100%;
  display:flex;
  justify-content: space-between;
}

.arrow-button {
  background: none;
  height: 50px;
  width: 50px;
  border: 0;
  margin: 0 15px;
}

.arrow-button:focus {
outline: none;
}

.arrow-button:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.left-arrow-button {
  background-image: url(assets/002-left-arrow.svg);
  background-size: contain;
  background-position: center;
}

.right-arrow-button {
  background-image: url(assets/001-right-arrow.svg);
  background-size: contain;
  background-position: center;
}

.heading-box {
  background-color: #63B2DD;
  height: 33.333%;
  width: 66.666%;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

h1 {
  padding: 30px 0 0 30px;
  font-size: 96px;
  margin: 0;
  font-family: 'Kanit', sans-serif;
}

.heading-text-container {
  padding-left: 30px;
  padding-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.heading-button-container {
  height: 45px;
  width: 100%;
  padding: 30px 0 0 30px;
  display: flex;
  align-content: space-between;
}

.top-line {
  margin-bottom: 10px;
}

.heading-buttons {
  border: solid 2px #FFFFFF;
  background-color: #63B2DD;
  color: #FFFFFF;
  font-size: 16px;
  height: 60px;
  width: 175px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  background-repeat: no-repeat;
  background-size: 18px;
  cursor: pointer;
}

.heading-buttons:focus {
outline: none;
}

.heading-buttons:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.resume-button {
  background-image: url(assets/inbox.svg);
  background-position: 35px 17px;
}

.contact-button {
  margin-left: 25px;
  background-image: url(assets/information.svg);
  background-position: left;
  background-position: 30px 17px;
}

.box {
  display: flex;
  height: 33.333%;
  width: 33.333%;
  background-position: center;
  background-size: 35%;
  background-repeat: no-repeat;
  color: #FFFFFF;
  text-transform: uppercase;
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.box:hover {
  opacity: .70;
}

.article-text {
  position: absolute;
  text-align: center;
  bottom: 40px;
  font-family:'Roboto', sans-serif;
  font-size: 18px;
}

.profile-box {
  background-color: #4C1D2E;
  background-image: url(assets/008-profile.svg);
}

.experience-box {
  background-color: #0181C5;
  background-image: url(assets/006-transport.svg);
}

.education-box {
  background-color: #093A5B;
  background-image: url(assets/005-education.svg);
}

.blog-box {
  background-color: #63B2DD;
  background-image: url(assets/004-blog.svg);
}

.social-box {
  background-color: #CBC2B7;
  background-image: url(assets/004-blog.svg);
}

.contact-box {
  background-color: #4C1D2E;
  background-image: url(assets/009-contact.svg);
}

.portfolio-box {
  background-color: #CBC2B7;
  background-image: url(assets/007-portfolio.svg);
}

@media (max-width: 1300px){
  main{
  display: flex;
  flex-direction: column-reverse;
}

  H1 {
    font-size: 80px;
    padding-top: 0px;
  }

  .heading-buttons {
    font-size: 14px;
    height: 40px;
    width: 165px;
    background-size: 16px;
  }

  .resume-button {
    background-position: 35px 9px;
  }

  .contact-button {
    background-position: 32px 9px;
  }

  .image-container{
    display: none;
  }

  .second-image-container {
    height: 400px;
    width: 100%;
    background-image: url(assets/chewbacca-img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .box-container {
    display:flex;
    flex-wrap: wrap;
    float:left;
    width: 100%;
    height: 100vh;
  }

  .article-text {
    bottom: 15px;

}

@media (max-width: 975px) {

  h1 {
    font-size: 70px;
    padding-top: 20px;
  }

  .heading-text-container {
    font-size: 16px;
  }

  .heading-buttons {
    font-size: 14px;
    height: 40px;
    width: 165px;
    background-size: 16px;
  }

  .resume-button {
    background-position: 35px 9px;
  }

  .contact-button {
    background-position: 32px 9px;
}

@media (max-width: 875px) {

  .heading-text-container {
    font-size: 16px;
    padding-top: 15px;
  }

  .heading-button-container {
    padding-top: 15px;
  }
}

@media (max-width: 675px){

  H1{
    font-size: 70px;
    padding-top: 20px;
  }

  .heading-text-container {
    font-size: 14px;
  }

  .article-text {
    bottom: 20px;
  }
}

@media (max-width: 600px) {
  .heading-box {
    height: 200px;
    width: 100%;
    text-align: center;
  }

  h1 {
    padding: 10px 0 0 0;
  }

  .heading-text-container {
    padding-left: 0px;
  }

  .top-line {
    margin-top: 0px;
  }

  .heading-button-container {
    margin:auto;
    justify-content: center;
    padding-left: 0px;
    margin-top: 0px;
  }

  .heading-buttons {
    font-size: 12px;
    height: 30px;
    width: 125px;
    background-size: 12px;
  }

  .resume-button {
    background-image: url(assets/inbox.svg);
    background-position: 21px 5px;
  }

  .contact-button {
    background-position: 19px 6px;
  }

  .box {
    display: flex;
    height: 25%;
    width: 100%;
    background-size: 15%;
  }

  .box:hover {
    opacity: 1.0;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .article-text {
    bottom: 10px;
    font-size: 14px;
  }
}

@media (max-width: 500px) {

  h1 {
    font-size: 50px;
  }

  .heading-text-container {
    font-size: 12px;
  }

  .box {
    display: flex;
    height: 25%;
    width: 100%;
    background-size: 15%;

  }

  .article-text {
    bottom: 15px;
    }

  }

  @media (max-width: 400px){

    h1 {
      font-size: 50px;
    }

    .heading-text-container {
      font-size: 12px;
    }

    .box {
      display: flex;
      height: 25%;
      width: 100%;
      background-size: 20%;
      font-size: 12px;
    }

    .article-text {
      bottom: 15px;
    }
